<li>
  <%= user.email %>
  <span><%= link_to "View", timeline_user_path(user) %></span>
  <% if current_user.requesting.include?(user) %>
    <%= render "users/unadd_friend_text", user: user %>
  <% else %>
    <%= render "users/add_friend_text", user: user %>
  <% end %>
</li>