<footer class="footer bg-dark">
  <div class="container-fluid">
    <div class="content">
      <span><%= Time.zone.now.year %> © MyBook App </span>
      <% if signed_in? %>
        <span class="user-status">
          Signed in with <strong><%= current_user.email %></strong>
        </span>
      <% end %>
    </div>
  </div>
</footer>