<footer class="footer bg-dark">
  <div class="container-fluid">
    <span><%= Time.zone.now.year %> © MyBook App </span>
    <% if signed_in? %>
    <span class="user-status">
      Signed in as <strong><%= current_user.name %></strong>
    </span>
    <% end %>
  </div>
</footer>