<%= form_for(post, html: { class: "post-form" }) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, rows: "3", placeholder: "Enter post's  content", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.file_field :image, class: "form-control-file" %>
  </div>
  <div class="form-group">
    <%= f.submit "New post", class: "btn btn-primary" %>
  </div>
<% end %>