<%= render "shared/user_info_bar", user: @user %>

<container class="row mx-auto timeline">

  <div class="col-12">
    <% if @user == current_user %>
      <%= render "shared/post_form", post: @user.posts.build %>
    <% end %>
  </div>

  <main class="col-12">
    <div class="posts">
      <%= render @user.posts_with_author.with_attached_image %>
    </div>
  </main>

</container>