// Debug dump style
.debug_dump {
  margin: 1rem 0;
}

// Footer style
.footer {
  .content {
    display: flex;
    width: 100%;
    padding: .5rem 0;
    align-items: center;
    justify-content: space-between;
    color: white;

    & > span:first-child {
      flex-grow: 1;
    }

    .user-status {
      flex-grow: 0;
      span {
        margin-right: 1rem;
      }
    }
  }
}