/* Debug dump style */
.debug_dump {
  margin: 1rem 0;
}

/* Footer */
.footer {
  .content {
    display: flex;
    width: 100%;
    padding: .5rem 0;
    align-items: center;
    justify-content: space-between;
    color: white;

    & > span:first-child {
      flex-grow: 1;
    }

    .user-status {
      flex-grow: 0;
      span {
        margin-right: 1rem;
      }
    }
  }
}
/* Timeline */

.user-info {
  margin-bottom: 20px;
  background-color: rgb(44, 93, 201);
  padding: 5px;
  color: white;
  a {
    color: white;
  }
  div {
    display: inline-block;
    margin: 0 5px;

  }
}

/* Post style */
.post-meta {
  & > div {
    display: inline-block;
  }
}

.post main {
  img {
    max-width: 100%;
  }
}

/* post comments */

.comments {
  margin-left: 50px;
  margin-top: 30px;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 10px;
  border-radius: 5px;
}

/* post form */

.post-form {

}

/* comment form */

.hidden {
  display: none;
}

/* Users page */
.users-list {
  & > ul {
    list-style: none;
    margin: 0;
    padding: 10px;
  }

  li {
    &:first-child {
      border-top: 1px solid rgba(175, 175, 175, 0.2);
    }
    padding: 10px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.2);
  }
}

/* Timeline */

.timeline {
  max-width: 800px;
}

.posts {
  padding: 10px 0;

  article:first-child {
    border-top: 1px solid rgba(201, 201, 201, 0.5);
  }
  article {
    padding: 10px 0;
    border-bottom: 1px solid rgba(201, 201, 201, 0.5);
  }
}