/* Debug dump style */
.debug_dump {
  margin: 1rem 0;
}

/* Footer */
.footer {
  .content {
    display: flex;
    width: 100%;
    padding: .5rem 0;
    align-items: center;
    justify-content: space-between;
    color: white;

    & > span:first-child {
      flex-grow: 1;
    }

    .user-status {
      flex-grow: 0;
      span {
        margin-right: 1rem;
      }
    }
  }
}

/* Post style */
.post-meta {
  & > div {
    display: inline-block;
  }
}

.post main {
  img {
    max-width: 60%;
  }
}

/* Users page */
.users-list {
  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 5px;
    margin-bottom: 5px;
  }
}